[Desktop Entry]
Type=Application
Name=baRadio
Comment=Preprost radio predvajalnik
Exec=/usr/local/bin/baradio
TryExec=/usr/local/bin/baradio
Icon=baradio
Terminal=false
Categories=AudioVideo;Player;GTK;
StartupNotify=true
